body {
  background-color: #fff !important;
}

.file-head {
  margin-top: 50px;
}

.file-upload {
  padding: 10px;
}

.file-preview {
  display: flex;
  align-items: center;
  width: 50%;
  flex-wrap: wrap;
}

.file-thumbnail {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.file-name {
  font-weight: bold;
}

.table-upload {
  margin-top: 10px;
}

.upload-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.uploadtable-head {
  margin-left: 10px;
  font-size: 20px;
}

.uploadmore-btn {
  margin-right: 10px;
}


.Polaris-InlineStack {
  display: flex !important;
  justify-content: center !important;
}

button.Polaris-Button.Polaris-Button--pressable.Polaris-Button--variantPrimary.Polaris-Button--sizeMedium.Polaris-Button--textAlignCenter {
  background: #232323;
  /* width: 15%; */
  height: 37px;
  color: rgb(241, 241, 241, 1);
}
